/*  your css code here. If applicable */
#container {
    height: 600px; 
    width: 400px; 
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1rf repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#container > div {
    border: 1px solid black;
	text-align:center;
}

#container :first-child {
    grid-column: 1 /-1;
}